.top {
  text-align: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;

  .menu-with-finder-flame {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

