@import url('https://fonts.googleapis.com/css?family=Quicksand:300&display=swap');

.link-label {
    text-decoration: none;
    color: inherit;
    font-family: 'Quicksand', sans-serif;
    cursor: pointer;
}