.menu-with-finder-flame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;

    .link-list {
        font-size: 4.5vh;
        margin-left: calc(10% + 1px);
        margin-top: 10%;
        padding-left: 1px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-left: solid 1px #333;
        z-index: 100;
    }

    .finder-flame {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}